@use './variables/palette' as *;

* {
    box-sizing: border-box;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

html {
    background-color: $emperor;
}

h2 {
    font-weight: normal;
    margin: 0;
}

.padding-h {
    &_10px {
        padding: 0 10px;
    }

    &_15px {
        padding: 0 15px;
    }

    &_left {
        &_10px {
            padding-left: 10px;
        }
    }

    &_right {
        &_10px {
            padding-right: 10px;
        }
    }
}

.padding-v {
    &_10px {
        padding: 10px 0;
    }

    &_15px {
        padding: 15px 0;
    }

    &_top {
        &_10px {
            padding-top: 10px;
        }

        &_30px {
            padding-top: 30px;
        }
    }

    &_bottom {
        &_10px {
            padding-bottom: 10px;
        }

        &_30px {
            padding-bottom: 30px;
        }
    }
}

.margin-h {
    &_10px {
        margin: 10px 0;
    }

    &_15px {
        margin: 15px 0;
    }

    &_left {
        &_10px {
            margin-left: 10px;
        }
    }

    &_right {
        &_10px {
            margin-right: 10px;
        }
    }
}

.margin-v {
    &_10px {
        margin: 10px 0;
    }

    &_15px {
        margin: 15px 0;
    }
}