@use '@styles/variables/palette' as *;

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: $mineShaft;

    &__item {
        color: $solidWhite;
        padding: 5px 20px;
        font-size: 1.1rem;

        &:hover {
            background-color: $carnation;
        }
    }
}